body {
background-image: url(grama.jfif);
color: black;background-repeat: repeat-x;
}
button{float: left; border:1px solid; padding: 11px 21px; vertical-align: middle; background:#2D888F; color:black;border-radius:6px;
align-self: center;font-size: 15pt;font-family:helvetica serif; text-decoration:none;}
/*formatação de interface*/
div#interface{
width: 790px;
height: 300px;
}
section#corpo {
display: block;
width: 400px;
height: 300px;
float: left;}
div#farmacia{
	margin: 80px 60px auto 60px;

}
nav#menu  li{
			display:block;
			float: left;
			list-style:none;
			text-transform: uppercase;
			padding: 5px;
			margin: 0px 20px auto auto	;}

		nav#menu ol, ul {
			padding:0px;
			margin: 0px;
		}
		nav#menu ul{
			display:none;
		}
		nav#menu ol li:hover > ul{
			display: block;
		}
		nav#menu ul{
			vertical-align: 10px;
					}
		nav#menu a {
			color: #000000;
			text-decoration: none;
		}


